h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    position: relative;
    
   margin: auto;
   width: 50%;
   border: 2px green;
   padding: 10px;
    

}

img {
    position: relative;
    margin: 10px;
    border: inset 2px;
    border-radius: 50%;
    border-color: rgb(6, 153, 153);
    display: flex;
    max-width: 250px;
    max-height: 250px;
    height: auto;
    margin-left: 20%;
}


#player1 {
    background-color: rgb(15, 185, 129);
    
}

#player2 {
    background-color: rgb(165, 87, 87);
}

    
#button1 {
   position: relative;
   font-family: fantasy;
   background-color: gold;
   max-width: 100px;
   max-height: 50px;
   font-size: 20px;
   
   height: auto;
   width: auto;
   margin: 5px;
   margin-left: 40%;
   box-shadow: 3px 4px 0px 0px #484901;
   background:linear-gradient(to bottom, #edf0dc 10%, #d6ec0a 100%);
   
   border: outset 2px;
   border-radius: 25%;
   border-color: pink;

   line-height: 50px;
   text-align: center
}

#button2 {
    position: relative;
    font-family: fantasy;
    background-color: gold;
    max-width: 100px;
    max-height: 50px;
    font-size: 20px;
    
    height: auto;
    width: auto;
    margin: 5px;
    margin-left: 40%;
    box-shadow: 3px 4px 0px 0px #636360;
    background:linear-gradient(to bottom, #edf0dc 10%, #ec700a 100%);
    
    border: outset 2px;
    border-radius: 25%;
    border-color: pink;
 
    line-height: 50px;
    text-align: center
}

body {
    background-color: black;
}

