h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    position: relative;
    
   margin: auto;
   width: 50%;
   border: 2px;
   padding: 5px;
    

}

h2:hover {
    color: aqua;
}

img {
    background-color: rgb(24, 26, 26);
    position: relative;
    margin: 5px;
    border: double 2px;
    border-radius: 50%;
    border-color: rgb(6, 153, 153);
    
    width: 230px;
    height: 230px;
    
    margin-left: 22%;
}


#player1 {
    background-color: rgb(15, 185, 129);
    
}

#player2 {
    background-color: rgb(165, 87, 87);
}

    
#button1 {
   position: relative;
   font-family: 'Times New Roman', Times, serif;
   background-color: gold;
   
   font-size: 20px;
   
   height: 50px;
   width: 95px;
   margin: 5px;
   margin-left: 40%;
   box-shadow: 3px 4px 0px 0px #484901;
   background:linear-gradient(to bottom, #edf0dc 10%, #d6ec0a 100%);
   
   border: outset 2px;
   border-radius: 25%;
   border-color: pink;

   line-height: 50px;
   text-align: center
}


#button1:hover {
    color: rgb(41, 160, 41);
}


#button1:active {
    background-color: #cf1616;
    box-shadow: 0 5px rgb(22, 22, 22);
    transform: translateY(2px);
    
}

#button2 {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    background-color: gold;
    
    font-size: 20px;
    
    height: 50px;
    width: 95px;
    margin: 5px;
    margin-left: 40%;
    box-shadow: 3px 4px 0px 0px #636360;
    background:linear-gradient(to bottom, #edf0dc 10%, #ec700a 100%);
    
    border: outset 2px;
    border-radius: 25%;
    border-color: pink;
 
    line-height: 50px;
    text-align: center
}


#button2:hover {
    color: rgb(238, 41, 41);
}


#button2:active {
    background-color: #cf1616;
    box-shadow: 0 5px rgb(22, 22, 22);
    transform: translateY(2px);
    
}

#button3 {
    font-family: 'Times New Roman', Times, serif;
    width: 50px;
    height: 20px;
    border-radius: 30%;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

